@mixin  point {
  position: absolute;
  right: 0;
  top: 50%;
  transform: translate(50%, -50%);
  box-sizing: border-box;
  width: 10px;
  height: 10px;
  border: 2px solid $gray;
  border-radius: 50%;

  transition:
    border-color .4s,
    background-color .4s;
}