.timeline {
  font-size: 12px;
  line-height: 14px;
  padding-top: 30px;
  padding-bottom: 30px;

  // стили когда лейбл рядом с поинтом
  &--center-point {
    position: relative;

    .timeline__item {
      height: 2px;

      &:nth-child(1) {
        display: table-row;
        background-color: transparent;
        height: 0;
        left: 2px;

        &::after {
          content: none;
        }

        &::before {
          left: 1px;
        }

        .timeline__label-wrap {
          left: 52px;
          top: auto;
          bottom: 12px;
          text-align: left;
        }
      }



      

      &:nth-last-child(1) {
        .timeline__label-wrap {
          right: -58px;
          text-align: right;
        }
      }
    }

    .timeline__label-wrap {
      left: auto;
      right: -105px;
    }

    // стили состояний когда лейбл рядом с поинтом
    &--active {}

    &--traversed {}

    
  
  }

// стили когда лейблы выше линии и рядом с поинтом
  &--over-line {
    .timeline__label-wrap {
      top: -22px;
    }


  }

  &--over-line.timeline--center-point {
        .timeline__item {
      &:nth-child(1) {
        .timeline__label-wrap {
          top: 8px;
          bottom: auto;
        }
      }
    }
  }
}

.timeline__list {
  width: 100%;
  height: 2px;
  margin: 0;
  padding: 0;

  display: table;
  border-spacing: 11px 0;
  list-style: none;

  counter-reset:li;
}

.timeline__item {
  display: table-cell;
  position: relative;

  background-color: $gray;

  &::after,
  &::before {
    width: 9px;
    height: 9px;

    position: absolute;
    top: 50%;
    border-radius: 50%;
    transform: translateY(-50%);

    background-color: transparent;
    border:2px solid $gray;
  }

  &::after {
    content: "";
    right: -10px;
  }

  &:nth-child(1) {
    &::before {
      content: "";
      left: -10px;
    }
  }

// стили состояний когда лейблы по центру шага (базовые)
  &--active {
    background-color: $green;
  }

  &--traversed {
    background-color: $orange;
  }

}

.timeline__label-wrap {
  width: 100px;
  position: absolute;
  top: 5px;
  left: 50%;
  transform: translateX(-50%);

  text-align: center;
  word-wrap: break-word;
}

.timeline__label {
  position: relative;
  vertical-align: bottom;
  padding-right: 0.8em;
  color: #949494;

  transition: color .4s;
  cursor: pointer;

  &:hover,
  &:focus {
    outline: none;
    color: $black;
  }

  &:before {
    content:counter(li);
    counter-increment:li;
    position:absolute;
    bottom: -1px;
    right: 0;
    width:2em;

    text-align: right;
  }
}