footer.footer
  .wrap
    a.footer__link(href="https://spb.hh.ru/applicant/resumes/view?resume=c7c2cdd8ff076a0f5e0039ed1f6f707379314e") My hh
    a.footer__link(href="https://github.com/MYiLA/corus-test-timeline") My github
