header.header
  .header__wrap
    button.header__btn.btn(type="button") add point
    button.header__btn.btn(type="button") delete point
    button.header__btn.btn(type="button") label in the center of <br> progress line / check point
    button.header__btn.btn(type="button") label under/over timeline