header.header
  .header__wrap
    button.header__btn.btn.js-add(type="button") add point
    button.header__btn.btn.js-delete(type="button") delete point
    button.header__btn.btn.js-left-center(type="button") label left / center
    button.header__btn.btn.js-under-over(type="button") label under / over